body{
    margin: 0;
    background-color: darkgray;

    display: grid;
    grid-template-areas: 'game placar';
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 100vh;    
}

.main-game, .placar, .info-placar{
    display: flex;
    justify-content: center;
}

.placar, .info-placar{
    flex-direction: column;
}

.main-game, .info-placar{
    align-items: center;
}

.placar{   
    grid-area: placar;    
      
    align-items: flex-start;
}

.info-placar{
    border: 5px solid white;   
    padding: 30px 50px; 
    background-color: dimgray;
    color: white;
}

.main-game{ 
    grid-area: game;
}

.genius{
    display: grid;
    grid-template-areas: 'verde vermelho'
        'amarelo azul';
    grid-gap: 10px;

    background-color: white;
    border: 10px solid white;    
    border-radius: 100%;

    width: 500px;
    height: 500px;
}

.cor:hover{
    cursor: pointer;
}

.blue{
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red{
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow{
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green{
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

.selected{
    opacity: 0.3;
}

